<nav class="navbar navbar-expand-xl navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/inicio">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLight" aria-controls="navbarLight" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse show" id="navbarLight">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/inicio">Inicio</a>
        </li>
      </ul>

      <form class="d-fex">
        <input class="form-control me-2" type="search" placeholder="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>

    </div>
  </div>
</nav>
